body {
    background-color: azure;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.display {
    width: 250px;
    font-size: x-large;
    font-weight: bold;
    color: darkkhaki;
    margin: 10px;
    padding: 15px;
    border: 3px solid slategray;
    border-radius: 10px;
}

.but {
    background-color: slategray;
    color: azure;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 2px solid azure;
    border-radius: 5px;
    width: 60px;
    height: 40px;
}

.but:hover {
    font-weight: bold;
    border: 2px solid darkkhaki;
    color: darkkhaki;
}